<nav class="navbar navbar navbar-expand bg-dark border-bottom border-body"
     data-bs-theme="dark">
   <div class="container">
      <a class="navbar-brand"
         href="#">Movie app</a>
      <div class="collapse navbar-collapse justify-content-between">

         <div class="navbar-nav">
            <a class="nav-link"
               routerLink="/">Accueil</a>
            <a class="nav-link"
               routerLink="/search">Recherche</a>
         </div>

         <div class="navbar-nav">
            <a class="nav-link"
               routerLink="/login">Login</a>
            <a class="nav-link"
               routerLink="/register">Inscription</a>
         </div>
      </div>
   </div>
</nav>