<app-navbar></app-navbar>
<!-- On affiche/masque le loader-->
<ui-loader></ui-loader>

<div class="py-4">
    <router-outlet></router-outlet>
    <!-- 
    <router-outlet>
    Le routing (la navigation) consiste à afficher un component 
    ou un autre de manière selective SELON le changement d'URL 

    routes = [
        { path: '', component: MovieListPageComponent },
        { path: 'detail/:id', component: MovieDetailPageComponent },
        { path: 'search', component: SearchMoviesComponent },
    ]
  -->
</div>