<div [routerLink]="['/detail', movie().id]"
     class="card">

  <img class="card-img-top"
       [ngSrc]="movie().image_poster"
       width="500"
       height="750"
       alt="">
  <div class="card-body">
    <h2 class="card-title">{{ movie().title }}</h2>

    @if(movie().vote_count>0) {
    <!-- on affiche les étoiles -->
    <ui-stars [title]="movie().vote_count + ' vote(s)'"
              [note]="movie().score"></ui-stars>
    }

    <ui-button color="dark">Hello</ui-button>


  </div>
</div>