<form (submit)="onSubmit()"
      [formGroup]="loginForm">
    <div>
        <label class="form-label"
               for="email">Email</label>
        <input class="form-control"
               formControlName="email"
               id="email"
               type="text">
        @if(loginForm.controls['email'].hasError('email') || loginForm.controls['email'].hasError('required')) {
        <p class="error">Veillez saisir un email valide</p>
        }
    </div>
    <div>
        <label class="form-label"
               for="pwd">Mot de passe</label>
        <input class="form-control"
               formControlName="password"
               id="pwd"
               type="password">
    </div>
    <div class="d-flex justify-content-end py-3">
        <ui-button color="warning">Se connecter</ui-button>
    </div>
</form>